.bordered {
    border: 1px solid red;
  }
  
  .content-activity {
    width: 90%;
    min-height: 850px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin: 50px auto;
    display: flex; /* Flex konteyner olarak ayarla */
    flex-direction: column; /* Sıralama: sütun (başlık üstte, içerik altta) */
  }
  
  .header-row {
    margin: 5px;
    min-height: 90px;
    height: auto;
  }
  
  .content-row {
    margin: 5px;
    flex-grow: 1; /* Kullanılabilir tüm boş alanı kapla */
  }
  
  .edu-img-container {
    width: 100px;
  }
  
  .edu-container {
    display: flex;
    align-items: center; /* Dikey hizalama */
  }
  
  .edu-img {
    min-width: 50px;
    width: 95px;
    height: 110px;
    margin: 7px;
    border-radius: 15px;
    transition: all 0.5s ease; /* Animasyon için */
  }
  
  /* Ekran genişliği 600px veya daha az olduğunda */
  @media screen and (max-width: 600px) {
    .edu-img {
      width: 50%; /* Ekran küçüldükçe resim de küçülsün */
    }
  }
  
  /* Ekran genişliği 768px (Bootstrap sm breakpoint) veya daha az olduğunda */
  @media screen and (max-width: 768px) {
    .col-md-1 .edu-img {
      display: none; /* Ekran küçük olduğunda resim kaybolsun */
    }
  
    .col-md-11 {
      flex-grow: 1; /* Kullanılabilir tüm boş alanı kapla */
    }
  }
  
  .edu-header {
    flex-grow: 1; /* Kullanılabilir tüm boş alanı kapla */
    margin-left: 60px;
  }
  
  .title-icon {
    display: flex;
    align-items: center; /* İçerikleri dikey olarak ortalar */
    gap: 8px;
    justify-content: flex-end;
    padding-right: 15px;
  }
  
  .edu-title {
    
    font-size: 18px;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .edu-progress {
    margin-top: 20px;
  }
  
  .tag-blue {
    margin-top: 25px;
    margin-left: 10px;
    background-color: #629cf9;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
  }
  
  .score-badge {
    background-color: #3dcb79; /* Yeşil arka plan rengi */
    color: white;
    padding: 8px 12px; /* İç boşluk */
    border-radius: 5px; /* Yuvarlak köşeler */
    display: inline-block;
    font-family: "Arial", sans-serif;
    font-size: 18px; /* Font boyutu */
    font-weight: bold; /* Kalın font */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); /* Hafif gölge */
    opacity: 90%;
  }
  
  .like-button {
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 24px; /* Bu değer kalp ve sayı boyutunu ayarlar */
  }
  
  .heart-icon {
    color: red; /* Kalbin rengi */
    font-size: 26px; /* Kalp ikonunun boyutu */
  }
  
  .like-count {
    margin-left: 4px; /* Sayı ve kalp ikonu arasındaki mesafe */
    color: grey; /* Sayının rengi */
  }
  .like-button.liked .like-count {
    color: red; /* Kırmızı renk, tıklanmış durum için */
  }
  
  .like-button:not(.liked) .heart-icon {
    color: transparent;
    -webkit-text-stroke: 2px #757575; /* Kalp ikonunun çerçevesini çizer */
  }
  /* Ekstra, butona tıklanıldığında bir geçiş efekti ekleyebiliriz */
  .heart-icon,
  .like-count {
    transition: all 0.3s ease;
  }
  .bookmark-icon {
    font-weight: bold;
    padding-top: 15px;
    font-size: 26px;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    color: grey; /* Gri renk, tıklanmadan önceki durum için */
  }
  
  /* Buton aktif olduğunda ikona ekstra stil */
  .bookmark-icon.active {
    color: gold; /* Altın rengi veya sarı, tıklanmış durum için */
  }
  
  .edu-title-row {
    margin-top: 10px;
    height: 40px;
  }
  
  .progress-row{
    padding-right: 20px;
  }
  
  .progress-bar-container {
    width: 100%;
    background-color: #bcb7b7;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
  }
  @media (max-width: 600px) {
    .progress-bar-container {
      width: 100%; /* Genişliği yüzde olarak ayarla */
    }
  }
  .progress-bar {
    font-size: 10px;
    width: 10%;
    height: 6px;
    background: linear-gradient(to right, #84f587, #71b8f3);
    display: flex;
    align-items: center;
    transition: width 0.5s ease-in-out;
    position: relative;
    margin-left: -12px;
  }
  
  .progress-bar-text {
    color: white;
    margin-left: 15px;
    font-weight: bold;
    z-index: 1;
  }
  
  .progress-bar-icon {
    position: absolute;
    right: 10px; /* İkonun sağ kenardan mesafesi */
    color: white; /* İkonun rengi */
  }
  
  .edu-progress-text {
    color: #3dcb79;
    margin-top: 20px;
  }
  
  .ptg {
    text-align: right;
    color: black;
    vertical-align: top;
  }
  
  .tab-list {
    list-style-type: none;
    padding: 0;
    display: flex;
  
  }
  
  .tab-list-item {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    color: rgb(129, 129, 130);
    border-bottom: 3px solid transparent; /* Aktif olmayan tab için şeffaf alt çizgi */
    transition: border-bottom 0.3s; /* Çizginin kayma efekti */
  }
  
  .tab-list-item.active {
    border-bottom: 3px solid rgb(42, 41, 41);
    opacity: 80%; /* Aktif tab için alt çizgi */
  }
  
  .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Bilgi öğeleri arasında boşluk */
  }
  
  .icon {
    min-width: 20px; /* İkon genişliği, hepsinin aynı hizada olması için */
    margin-right: 10px; /* İkon ile başlık arasında boşluk */
    color: #363131; /* İkon rengi */
  }
  
  .info {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
  
  .title {
    font-weight: bold;
    margin-right: 5px; /* Başlık ile açıklama arasında boşluk */
  }
  
  .description {
    flex-grow: 1;
  }
  
  .column-width {
    width: 200px; /* İstediğiniz genişliği ayarlayın */
  }
  
  .icon {
    min-width: 20px; /* İkon genişliği, hepsinin aynı hizada olması için */
    margin-right: 10px; /* İkon ile başlık arasında boşluk */
    color: #363131; /* İkon rengi */
    opacity: 85%;
  }
  table {
    width: 100%; /* veya istediğiniz genişlik */
    border-collapse: separate;
    border-spacing: 0;
  }
  
  td,
  th {
    padding-bottom: 20px; /* Alt padding ile boşluk ekler */
  }
  
  .table-desc {
    color: #615e5e;
    font-weight: lighter !important;
  }
  .icerik-detail {
    height: 500px;
  }
  .course-container {
    display: flex;
  }
  
  .course-list {
    flex: 1;
    /* Liste için stil tanımlamaları */
  }
  
  .course-title {
    cursor: pointer;
    /* Başlık için stil tanımlamaları */
  }
  
  .course-content {
    flex: 2;
    /* İçerik için stil tanımlamaları */
  }
  
  .course-detail {
    /* Detaylar için stil tanımlamaları */
  }
  
  .video-area-cont {
    margin-top: 2px;
    height: 485px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }
  .video-area {
    height: 395px;
    background-color: black;
    border-radius: 15px;
    justify-content:center;
    border-radius: 15px 15px 0px 0px;
  }
  
  /* YouTubeVideo.css */
  .video-container {
    margin: 0;
    width: 730px;
    height: 100%;
    background-color: black;
    border-radius: 15px 15px 0px 0px;
  }
  
  .video-container iframe {
    width: 100%;
    height: 100%;
  }
  
  .video-name {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 18px;
  }
  
  .video-detail-btn {
    padding-top: 10px;
    padding-right: 15px;
    text-align: right;
  }
  
  .video-time-detail {
    padding-left: 10px;
    margin-top: 8px;
    color:#3DCB79
    
  }
  
  .detail-button {
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #9933ff;
    border-radius: 10px;
    color: #9933ff;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
    font-size: 15px;
    font-weight: bold;
    width: 150px;
    height: 40px;
    position: relative;
  }
  
  
  .ok-icon {
    display:flex;
    align-items: center;
    margin-left: 12px;
    width:450px;
    font-weight: lighter;
    font-size: 14px;
  }
  
  
  
  
  .accordion-item {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: background-color 0.6s ease;
    border-bottom: 1px solid #ccc;
  }
  
  .accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .accordion-title:hover {
    background-color: #f5f5f5;
  }
  
  .accordion-content {
    background-color: white;
    overflow: hidden;
    transition: max-height 0.6s ease;
    padding: 0 18px;
  }
  
  .scrollable-div::-webkit-scrollbar {
    width: 5px; /* Daha dar bir scrollbar */
  
  }
  
  .scrollable-div::-webkit-scrollbar-track {
    background-color: rgba(254, 254, 254, 0.1); /* Kaydırma çubuğunun arka plan rengi */
  }
  .scrollable-div {
    width: 100%; 
    height: 640px; 
    overflow-y: auto;
    scrollbar-width: thin; 
  
    
  }
  
  .scrollable-div::-webkit-scrollbar-thumb {
   
    border-radius: 10px; /* Yuvarlak köşeler için */
    border: 5px solid rgb(229, 226, 226); /* Eğer thumb çevresinde beyaz bir sınır istiyorsanız */
  }
  
  .activity-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Yarı saydam siyah */
    z-index: 10; /* OffCanvas'dan düşük, diğer içerikten yüksek */
  }
  
  .offcanvas-open {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .custom-right {
    text-align: right; /* İçeriği sağa yaslar */
  }
  
  .custom-left {
    text-align: left; /* İçeriği sola yaslar */
  }