.footer {
    background-color: #9933FF;
    padding: 20px;
    color: white;
    text-align: center;
    margin: 0;
    padding: 13px;
  }
  .text-center {
    text-align: center;
  }
  .footer button{
    border-radius: 14px;
  }
  
  a {
    color: white;
    text-decoration: underline;
  }
  
  a:hover {
    color: pink;
  }
  